.productos-destacados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  
  h2 {
    font-size: 1.7rem;
    padding: 3rem 0;
    color: #111;
    position: relative;
  }
  
}
