header {
    .header_mensaje {
        background-color: #3F4548;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        
        p {
            text-align: center;
            margin: 0;
            font-size: 1rem;
            font-weight: 500;
            color: white;
        }
    }

    .header_horarios {
        padding: 0.7rem 0.4rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: white;
        
        p {
            color: #555555;
            margin: 0;
            font-size: 0.9rem;
            font-weight: 450;
        }
    }

    .header_buscador {
        margin-top: -0.3rem;
        padding: 0.4rem 1rem;
        background-color: white;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .logo {
            display: flex;
            align-items: center;

            .navbar-brand {
                color: #004E7C;
                font-size: 2.5rem;
                font-weight: bold;
                margin-left: 0.5rem;
            }
        }

        .search-form {
            display: flex;
            flex-grow: 1;
            max-width: 800px;

            .search-input {
                flex: 1;
                padding: 0.5rem 1rem;
                font-size: 1rem;
                border: 2px solid #3F4548;
                border-right: none;
                border-radius: 0.5rem 0 0 0.5rem;
                outline: none;
                background-color: white
            }

            .search-button {
                padding: 0.5rem 1.2rem;
                font-size: 1rem;
                background-color: #3F4548;
                color: white;
                border: 2px solid #3F4548;
                border-radius: 0 0.5rem 0.5rem 0;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .right-group {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.4rem;

            .right-item {
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            .cart-link {
                position: relative;
                display: inline-flex;
                align-items: center;
            }

            .cart-count {
                position: absolute;
                bottom: -6px;
                right: -6px;
                background-color: rgb(255, 55, 55);
                color: white;
                font-size: 0.75rem;
                font-weight: bold;
                padding: 1px 4px;
                border-radius: 50%;
                min-width: 18px;
                min-height: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                aspect-ratio: 1;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            }
        }
    }

    @media (max-width: 768px) {
        .header_buscador {
            .container {
                flex-direction: column;
                align-items: center;
                gap: 1rem;
            }

            .logo {
                justify-content: center;
                width: 100%;
                .navbar-brand {
                    font-size: 2.5rem;
                    text-align: center;
                    margin: 0;
                }
            }

            .search-form {
                width: 100%;
                max-width: 90%;
                padding: 0;
                flex-direction: row;
                justify-content: center;

                .search-input {
                    width: 100%;
                    font-size: 1rem;
                }

                .search-button {
                    font-size: 1rem;
                    padding: 0.5rem 1rem;
                }
            }

            .right-group {
                width: 100%;
                justify-content: center;
                margin: 0;
                gap: 1rem;
            }
        }
    }
}